# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Results
résultats/

# Logs
*.log

# Coverage
.coverage
coverage.xml
htmlcov/

# Pytest
.pytest_cache/
old_dashboard.py
